# Dependencies
node_modules/

# Build outputs
dist/
build/

# Expo / RN caches
.expo/
.expo-shared/
.expo/web-build/
.expo-dev-cache/
.expo-packager-cache/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Env files
.env
.env.*

# IDE/editor
.vscode/
.idea/
.DS_Store

# Coverage
coverage/

# Misc
.tmp/